<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
        
        <title> CRYPTO - {% block title %} {% endblock %}</title>
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/font-awesome.css">
        <link rel="stylesheet" href="/static/css/pico.css">
        <link rel="stylesheet" href="/static/css/styles.css"> 

    </head>
    
    <header data-theme="dark">
        <p class="header"> MiCRYPTO Simulador de Inversiones</p>

        {% if menu == 'listaMovimientos' %}
        <u class="title_text">Inicio</u> | <a href="/nuevacompra" class="title_text">Compra</a> | <a href="/status" class="title_text">Status </a>
        {% elif menu == 'nuevacompra' %}
        <a href="/" class="title_text">Inicio</a> | <u class="title_text">Compra</u> | <a href="/status" class="title_text">Status </a>
        {% elif menu == 'status'%}
        <a href="/" class="title_text">Inicio</a> | <a href="/nuevacompra" class="title_text">Compra</a> | <u class="title_text">Status </u>
        {% endif %}
    </header>

    <body>
        <section class="container">
            {% block contenido%}  {% endblock %}
        </section>

        <footer> &copy; 2021 Todos los derechos reservados</footer>
    </body>
</html>