<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
        
        <title> CRYPTO - {% block title %} {% endblock %}</title>
        
        <link rel="stylesheet" href="/static/css/pico.css">
        <link rel="stylesheet" href="/static/css/styles.css"> 

    </head>
    <body>
        <header data-theme="dark">
            <div class="MyCrypto">Boot Z 6 - MyCRYPTO</div>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/creacompra">Compra</a></li>
                    <li><a href="/status">Status</a></li>
                </ul>
            </nav>    
        </header>

        <div class="container">
            {% block contenido%}  {% endblock %}
        </div></br>

        <footer> &copy; 2021 Todos los derechos reservados</footer>
    </body>
</html>