{% extends 'base.html' %}

{% block title %} Compra de Cryto - Converter {% endblock %}

{% block contenido%} 
<h1 align="center" class="title"> COMPRA DE CRYPTOMONEDAS</h1>

<form action="/nuevacompra" method="post">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
        {{ form.from_currency.label() }}
        {{ form.from_currency(class="custom-select custom-select-lg mb-3", placeholder="FROM", style="width:120px") }}
        
        {{ form.from_quantity.label }}
        {{ form.from_quantity(placeholder='0', style="width:150px") }} 

        {{ form.to_currency.label }}
        {{ form.to_currency(class="custom-select custom-select-lg mb-3", placeholder="FROM", style="width:120px") }}
        
        {% if cryptoError %}
            <p class="error_monedas_distintas"> {{ cryptoError }} </p>
        {% endif %}
        
        {{ form.submitCalculadora(class="title_button-new", style="width:150px")}}

        {{ form.to_quantity() }}
        <p class="to_quantity"> Q: {{ form.to_quantity.data}} </p> 

        {% if sinSaldo %}
            <p class="error_sin_saldo">{{ sinSaldo }}</p>
        {% endif %}

        {{ form.pu() }}    
        <p class="pu"> P.U.:  {{ form.pu.data }}</p>  

            
   
        {{ form.submitCompra(class="title_button-new", style="width:100px") }}
    
</form>

{% endblock %}