{% extends 'base.html' %}

{% block title %} Compra de Cryto {% endblock %}

{% block contenido%} 
<h1> COMPRA DE CRYPTOMONEDAS</h1>

<form action="nuevacompra" method="post">
    {{ form.hidden_tag() }}
</br><div class="field">
        {{ form.date.label }}
        {{ form.date(type="date") }}
        
        {{ form.time.label }}
        {{ form.time(type="time") }}        
    </div></br>
    <div class="field">  
        {{ form.from_currency.label }}
            <select name ="from_currency">
            <option value="{{  form.from_currency.data }}">EUR </option>
            <option value="{{  form.from_currency.data }}">ETH </option>
            <option value="{{  form.from_currency.data }}">LTC </option>
            <option value="{{  form.from_currency.data }}">BNB </option>
            <option value="{{  form.from_currency.data }}">EOS </option>
            <option value="{{  form.from_currency.data }}">XLM </option>
            <option value="{{  form.from_currency.data }}">TRX </option>
        </select>
        {{ form.from_quantity.label }}
        <select>
            <option value="{{  request.form.from_quantity }}">BTC </option>
            <option value="{{  request.form.from_quantity }}">XRP </option>
            <option value="{{  request.form.from_quantity }}">BCH </option>
            <option value="{{  request.form.from_quantity }}">USDT </option>
            <option value="{{  request.form.from_quantity }}">BSV </option>
            <option value="{{  request.form.from_quantity }}">ADA </option>
        </select>
    </div></br>
    <div class="field">
        {{ form.to_currency.label }}
        {{ form.to_currency(placeholder="") }}
        {{ form.to_quantity.label() }}
        {{ form.to_quantity() }}
    </div></br>
    <div> 
        {{ form.PU.label }}
        {{ form.PU }} 
    </div></br>
    <div class="field">
        {{ form.submit }}
    </div>
</form>

{% endblock %}