{% extends 'base.html' %}

{% block title %} Compra de Cryto {% endblock %}

{% block contenido%} 
<h1> COMPRA DE CRYPTOMONEDAS</h1>

<form action="creacompra" method="post">
    {{ form.hidden_tag() }}
</br><div class="field">
        {{ form.date.label }}
        {{ form.date(type="date") }}
        
        {{ form.time.label }}
        {{ form.time(type="time") }}        
    </div></br>
    <div class="form-group">
        {{ form.from_currency.label() }}
        {{ form.from_currency(class="custom-select custom-select mb-3", placeholder="FROM")  }}
        <select>
            <option value="{{  request.form.from_currency }}">EUR </option>
            <option value="{{  request.form.from_currency }}">BTC </option>
            <option value="{{  request.form.from_currency }}">XRP </option>
            <option value="{{  request.form.from_currency }}">BCH </option>
            <option value="{{  request.form.from_currency }}">USDT </option>
            <option value="{{  request.form.from_currency }}">BSV </option>
            <option value="{{  request.form.from_currency }}">ADA </option>
        </select>
        <div>
        {{ form.to_quantity.label }}
        {{ form.to_quantity(placeholder="") }}
        </div>
        <div>
        {{ form.to_currency.label }}
        <select>
            <option value="{{  request.form.to_currency }}">BTC </option>
            <option value="{{  request.form.to_currency }}">XRP </option>
            <option value="{{  request.form.to_currency }}">BCH </option>
            <option value="{{  request.form.to_currency }}">USDT </option>
            <option value="{{  request.form.to_currency }}">BSV </option>
            <option value="{{  request.form.to_currency }}">ADA </option>
        </select>
        </div></br>
        <div class="field">
        {{ form.to_quantity.label() }}
        {{ form.to_quantity() }}
        </div>
        
        
    </div></br>
    <div> 
        {{ form.PU.label }}
        {{ form.PU }} 
    </div></br>
    <div class="field">
        {{ form.submit }}
    </div>
</form>

{% endblock %}