{% extends "base.html" %}

{% block title %} Status - Crypto Converter {% endblock %}

{% block contenido %}
    <h1 class="title">ESTADO DE LA INVERSIÓN</h1>
    
    {% if movimientos_bbdd == True %}
        {% if errorDB %}
            <h5 class="error_db_status">{{ errorDB }}</h5>
        {% endif %}
        <h2 class="total_invertido">Invertido:</h2>
        <h2 class="inversion"> 0 €</h2>
        <h2 class="total_invertido_display"></h2>
        <h2 class="valor_actual">Valor actual:</h2>
        <h2 class="valor_actual_display"> 0 €</h2>
        <tbody>
        {% if not cryptoBalance %}
            <tr>
                <td class="title_sin"> SIN INVERSIÓN </td>
            </tr>
        {% endif %}
            
        
        <div class="title_button-new">
            <div class="title_button-new">
            <a role="button" href="/">Volver</a>
        </div>
        </tbody>
        
    {% else %}
        {% if errorAPI %}
            <p class="error_api_status">{{ errorAPI }}</p>
        {% endif %}
        <h2 class="total_invertido">Invertido:</h2>
        {% if total_Invertido >= 1 %}
            <h2 class="inversion">{{ "{:,.2f}".format(total_Invertido) }} €</h2>
        {% else %}
            <h2 class="inversion">{{ "{:,.5f}".format(total_Invertido) }} €</h2>
        {% endif %}
        <h2 class="total_invertido_display"></h2>
        <h2 class="valor_actual">Valor actual:</h2>
        {% if valor_Actual >= 1 %}
            <h2 class="valor_actual_display">{{ "{:,.2f}".format(valor_Actual) }} €</h2>
        {% else %}
            <h2 class="valor_actual_display">{{ "{:,.5f}".format(valor_Actual) }} €</h2>
        {% endif %}
        {% if beneficio_Perdida > 0 %}
            <h2 class="balance_total">Beneficio:</h2>
            {% if beneficio_Perdida >= 1 %}
                <h2 class="balance_total_beneficio">{{ "{:,.2f}".format(beneficio_Perdida) }} €</h2>
            {% else %}
                <h2 class="balance_total_beneficio">{{ "{:,.5f}".format(beneficio_Perdida) }} €</h2>
            {% endif %}
        {% elif beneficio_Perdida < 0 %}
            <h2 class="balance_total">Pérdida:</h2>
            {% if beneficio_Perdida <= -1 %}
                <h2 class="balance_total_perdida">{{ "{:,.2f}".format(beneficio_Perdida) }} €</h2>
            {% else %}
                <h2 class="balance_total_perdida">{{ "{:,.5f}".format(beneficio_Perdida) }} €</h2>
            {% endif %}
        {% else %}
            <h2 class="balance_total">Sin beneficio ni pérdidas</h2>
        {% endif %}
        
        <tbody>
        {% if not cryptoBalance %}
            <tr>
                <td class="title_sin_inversion"> SIN INVERSIÓN </td>
            </tr>
        {% endif %}
         
            <div class="title_button-new">
                <a role="button" href="/">Volver</a>
            </div>
        </div>
        </tbody>   
    {% endif %}
{% endblock %}