body > header, body > main, body > footer {
    padding: 16px;
}

section.container {
    min-height: calc(100wh - 90px);
}

header, footer {
    background-color: var(--background);
}

header {
    display: grid;
    grid-template-columns: auto 25%;
}

.header_title {
    font-size:2em;
    font-weight: bold;
    color: var(--primary);
    text-align: center;
}

.title {
    line-height: 30px;
    margin: var(--button-spacing-vertical) 0;
}

.title_text {
    margin: var(--button-spacing-vertical) 0;
}

.title_button-new {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: flex-end;
}
th.Fecha {
    width: 20%;
} 

th.Hora {
    width: 50%;
}

th.From {
    width: 20%;
}
th.To {
    width: 20%;
}

th.Quantity, td.Quantity {
    width: 25%;
    text-align: right;
}

td.PU {
    text-align: right;
    color: var(--contrast-hover);
    font-size: 1.2em;
    font-weight: bold;
}

.container {
    margin-top: 30px;
    min-height: calc(100vh - 194px);
}

